################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/CoreLibrary/FileContentIndex/9be20e04-37cf-4a32-8146-1b395385b1da.vsidx
/.vs/CoreLibrary/FileContentIndex
/.vs/CoreLibrary/v17/DocumentLayout.json
/.vs/CoreLibrary/DesignTimeBuild/.dtbcache.v2
/.vs/CoreLibrary/v17/.wsuo
/CommonLibraryTests/bin/Debug/net5.0-windows/CoverletSourceRootsMapping
/CommonLibraryTests/obj/CommonLibraryTests.csproj.nuget.dgspec.json
/CommonLibraryTests/obj/CommonLibraryTests.csproj.nuget.g.props
/CommonLibraryTests/obj/CommonLibraryTests.csproj.nuget.g.targets
/CommonLibraryTests/obj/Debug/net5.0-windows/CommonLibraryTests.AssemblyInfo.cs
/CommonLibraryTests/obj/Debug/net5.0-windows/CommonLibraryTests.AssemblyInfoInputs.cache
/CommonLibraryTests/obj/Debug/net5.0-windows/CommonLibraryTests.assets.cache
/CommonLibraryTests/obj/Debug/net5.0-windows/CommonLibraryTests.csproj.AssemblyReference.cache
/CommonLibraryTests/obj/Debug/net5.0-windows/CommonLibraryTests.GeneratedMSBuildEditorConfig.editorconfig
/CommonLibraryTests/obj/project.assets.json
/CommonLibraryTests/obj/project.nuget.cache
/CommonLibrarySqlLiteTests/bin/Debug/net5.0/CoverletSourceRootsMapping
/CommonLibrarySqlLiteTests/obj/CommonLibrarySqlLiteTests.csproj.nuget.dgspec.json
/CommonLibrarySqlLiteTests/obj/CommonLibrarySqlLiteTests.csproj.nuget.g.props
/CommonLibrarySqlLiteTests/obj/CommonLibrarySqlLiteTests.csproj.nuget.g.targets
/CommonLibrarySqlLiteTests/obj/Debug/net5.0/CommonLibrarySqlLiteTests.AssemblyInfo.cs
/CommonLibrarySqlLiteTests/obj/Debug/net5.0/CommonLibrarySqlLiteTests.AssemblyInfoInputs.cache
/CommonLibrarySqlLiteTests/obj/Debug/net5.0/CommonLibrarySqlLiteTests.assets.cache
/CommonLibrarySqlLiteTests/obj/Debug/net5.0/CommonLibrarySqlLiteTests.csproj.AssemblyReference.cache
/CommonLibrarySqlLiteTests/obj/Debug/net5.0/CommonLibrarySqlLiteTests.GeneratedMSBuildEditorConfig.editorconfig
/CommonLibrarySqlLiteTests/obj/project.assets.json
/CommonLibrarySqlLiteTests/obj/project.nuget.cache
/CommonLibraryGuiTests/bin/Debug/net5.0-windows/CoverletSourceRootsMapping
/CommonLibraryGuiTests/obj/CommonLibraryGuiTests.csproj.nuget.dgspec.json
/CommonLibraryGuiTests/obj/CommonLibraryGuiTests.csproj.nuget.g.props
/CommonLibraryGuiTests/obj/CommonLibraryGuiTests.csproj.nuget.g.targets
/CommonLibraryGuiTests/obj/Debug/net5.0-windows/CommonLibraryGuiTests.AssemblyInfo.cs
/CommonLibraryGuiTests/obj/Debug/net5.0-windows/CommonLibraryGuiTests.AssemblyInfoInputs.cache
/CommonLibraryGuiTests/obj/Debug/net5.0-windows/CommonLibraryGuiTests.assets.cache
/CommonLibraryGuiTests/obj/Debug/net5.0-windows/CommonLibraryGuiTests.csproj.AssemblyReference.cache
/CommonLibraryGuiTests/obj/Debug/net5.0-windows/CommonLibraryGuiTests.GeneratedMSBuildEditorConfig.editorconfig
/CommonLibraryGuiTests/obj/project.assets.json
/CommonLibraryGuiTests/obj/project.nuget.cache
/CommonControls/obj/CommonControls.csproj.nuget.dgspec.json
/CommonControls/obj/CommonControls.csproj.nuget.g.props
/CommonControls/obj/CommonControls.csproj.nuget.g.targets
/CommonControls/obj/Debug/net5.0-windows/ColorPicker.g.i.cs
/CommonControls/obj/Debug/net5.0-windows/ColorPickerMenu.g.i.cs
/CommonControls/obj/Debug/net5.0-windows/ColorSelection.g.i.cs
/CommonControls/obj/Debug/net5.0-windows/CommonControls.AssemblyInfo.cs
/CommonControls/obj/Debug/net5.0-windows/CommonControls.AssemblyInfoInputs.cache
/CommonControls/obj/Debug/net5.0-windows/CommonControls.assets.cache
/CommonControls/obj/Debug/net5.0-windows/CommonControls.csproj.AssemblyReference.cache
/CommonControls/obj/Debug/net5.0-windows/CommonControls.GeneratedMSBuildEditorConfig.editorconfig
/CommonControls/obj/Debug/net5.0-windows/CommonControls_MarkupCompile.i.cache
/CommonControls/obj/Debug/net5.0-windows/CommonControls_MarkupCompile.i.lref
/CommonControls/obj/Debug/net5.0-windows/DataList.g.i.cs
/CommonControls/obj/Debug/net5.0-windows/FolderBrowser.g.i.cs
/CommonControls/obj/Debug/net5.0-windows/FolderControl.g.i.cs
/CommonControls/obj/Debug/net5.0-windows/GeneratedInternalTypeHelper.g.i.cs
/CommonControls/obj/Debug/net5.0-windows/ImageZoom.g.i.cs
/CommonControls/obj/Debug/net5.0-windows/InputBox.g.i.cs
/CommonControls/obj/Debug/net5.0-windows/PluginController.g.i.cs
/CommonControls/obj/Debug/net5.0-windows/SqlLogin.g.i.cs
/CommonControls/obj/Debug/net5.0-windows/Thumbnails.g.i.cs
/CommonControls/obj/project.assets.json
/CommonControls/obj/project.nuget.cache
