################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/CoreLibrary/FileContentIndex/9be20e04-37cf-4a32-8146-1b395385b1da.vsidx
/.vs/CoreLibrary/FileContentIndex
