################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/CoreLibrary/FileContentIndex/9be20e04-37cf-4a32-8146-1b395385b1da.vsidx
/.vs/CoreLibrary/FileContentIndex
/.vs/CoreLibrary/v17/DocumentLayout.json
/.vs/CoreLibrary/DesignTimeBuild/.dtbcache.v2
/.vs/CoreLibrary/v17/.wsuo
/CommonLibraryTests/bin/Debug/net5.0-windows/CoverletSourceRootsMapping
/CommonLibraryTests/obj/CommonLibraryTests.csproj.nuget.dgspec.json
/CommonLibraryTests/obj/CommonLibraryTests.csproj.nuget.g.props
/CommonLibraryTests/obj/CommonLibraryTests.csproj.nuget.g.targets
/CommonLibraryTests/obj/Debug/net5.0-windows/CommonLibraryTests.AssemblyInfo.cs
/CommonLibraryTests/obj/Debug/net5.0-windows/CommonLibraryTests.AssemblyInfoInputs.cache
/CommonLibraryTests/obj/Debug/net5.0-windows/CommonLibraryTests.assets.cache
/CommonLibraryTests/obj/Debug/net5.0-windows/CommonLibraryTests.csproj.AssemblyReference.cache
/CommonLibraryTests/obj/Debug/net5.0-windows/CommonLibraryTests.GeneratedMSBuildEditorConfig.editorconfig
/CommonLibraryTests/obj/project.assets.json
/CommonLibraryTests/obj/project.nuget.cache
/CommonLibrarySqlLiteTests/bin/Debug/net5.0/CoverletSourceRootsMapping
/CommonLibrarySqlLiteTests/obj/CommonLibrarySqlLiteTests.csproj.nuget.dgspec.json
/CommonLibrarySqlLiteTests/obj/CommonLibrarySqlLiteTests.csproj.nuget.g.props
/CommonLibrarySqlLiteTests/obj/CommonLibrarySqlLiteTests.csproj.nuget.g.targets
/CommonLibrarySqlLiteTests/obj/Debug/net5.0/CommonLibrarySqlLiteTests.AssemblyInfo.cs
/CommonLibrarySqlLiteTests/obj/Debug/net5.0/CommonLibrarySqlLiteTests.AssemblyInfoInputs.cache
/CommonLibrarySqlLiteTests/obj/Debug/net5.0/CommonLibrarySqlLiteTests.assets.cache
/CommonLibrarySqlLiteTests/obj/Debug/net5.0/CommonLibrarySqlLiteTests.csproj.AssemblyReference.cache
/CommonLibrarySqlLiteTests/obj/Debug/net5.0/CommonLibrarySqlLiteTests.GeneratedMSBuildEditorConfig.editorconfig
/CommonLibrarySqlLiteTests/obj/project.assets.json
/CommonLibrarySqlLiteTests/obj/project.nuget.cache
/CommonLibraryGuiTests/bin/Debug/net5.0-windows/CoverletSourceRootsMapping
/CommonLibraryGuiTests/obj/CommonLibraryGuiTests.csproj.nuget.dgspec.json
/CommonLibraryGuiTests/obj/CommonLibraryGuiTests.csproj.nuget.g.props
/CommonLibraryGuiTests/obj/CommonLibraryGuiTests.csproj.nuget.g.targets
/CommonLibraryGuiTests/obj/Debug/net5.0-windows/CommonLibraryGuiTests.AssemblyInfo.cs
/CommonLibraryGuiTests/obj/Debug/net5.0-windows/CommonLibraryGuiTests.AssemblyInfoInputs.cache
/CommonLibraryGuiTests/obj/Debug/net5.0-windows/CommonLibraryGuiTests.assets.cache
/CommonLibraryGuiTests/obj/Debug/net5.0-windows/CommonLibraryGuiTests.csproj.AssemblyReference.cache
/CommonLibraryGuiTests/obj/Debug/net5.0-windows/CommonLibraryGuiTests.GeneratedMSBuildEditorConfig.editorconfig
/CommonLibraryGuiTests/obj/project.assets.json
/CommonLibraryGuiTests/obj/project.nuget.cache
/CommonControls/obj/CommonControls.csproj.nuget.dgspec.json
/CommonControls/obj/CommonControls.csproj.nuget.g.props
/CommonControls/obj/CommonControls.csproj.nuget.g.targets
/CommonControls/obj/Debug/net5.0-windows/ColorPicker.g.i.cs
/CommonControls/obj/Debug/net5.0-windows/ColorPickerMenu.g.i.cs
/CommonControls/obj/Debug/net5.0-windows/ColorSelection.g.i.cs
/CommonControls/obj/Debug/net5.0-windows/CommonControls.AssemblyInfo.cs
/CommonControls/obj/Debug/net5.0-windows/CommonControls.AssemblyInfoInputs.cache
/CommonControls/obj/Debug/net5.0-windows/CommonControls.assets.cache
/CommonControls/obj/Debug/net5.0-windows/CommonControls.csproj.AssemblyReference.cache
/CommonControls/obj/Debug/net5.0-windows/CommonControls.GeneratedMSBuildEditorConfig.editorconfig
/CommonControls/obj/Debug/net5.0-windows/CommonControls_MarkupCompile.i.cache
/CommonControls/obj/Debug/net5.0-windows/CommonControls_MarkupCompile.i.lref
/CommonControls/obj/Debug/net5.0-windows/DataList.g.i.cs
/CommonControls/obj/Debug/net5.0-windows/FolderBrowser.g.i.cs
/CommonControls/obj/Debug/net5.0-windows/FolderControl.g.i.cs
/CommonControls/obj/Debug/net5.0-windows/GeneratedInternalTypeHelper.g.i.cs
/CommonControls/obj/Debug/net5.0-windows/ImageZoom.g.i.cs
/CommonControls/obj/Debug/net5.0-windows/InputBox.g.i.cs
/CommonControls/obj/Debug/net5.0-windows/PluginController.g.i.cs
/CommonControls/obj/Debug/net5.0-windows/SqlLogin.g.i.cs
/CommonControls/obj/Debug/net5.0-windows/Thumbnails.g.i.cs
/CommonControls/obj/project.assets.json
/CommonControls/obj/project.nuget.cache
/Communication/obj/Communication.csproj.nuget.dgspec.json
/Communication/obj/Communication.csproj.nuget.g.props
/Communication/obj/Communication.csproj.nuget.g.targets
/Communication/obj/Debug/net5.0/Communication.AssemblyInfo.cs
/Communication/obj/Debug/net5.0/Communication.AssemblyInfoInputs.cache
/Communication/obj/Debug/net5.0/Communication.assets.cache
/Communication/obj/Debug/net5.0/Communication.GeneratedMSBuildEditorConfig.editorconfig
/Communication/obj/project.assets.json
/Communication/obj/project.nuget.cache
/DataFormatter/obj/DataFormatter.csproj.nuget.dgspec.json
/DataFormatter/obj/DataFormatter.csproj.nuget.g.props
/DataFormatter/obj/DataFormatter.csproj.nuget.g.targets
/DataFormatter/obj/Debug/net5.0/DataFormatter.AssemblyInfo.cs
/DataFormatter/obj/Debug/net5.0/DataFormatter.AssemblyInfoInputs.cache
/DataFormatter/obj/Debug/net5.0/DataFormatter.assets.cache
/DataFormatter/obj/Debug/net5.0/DataFormatter.GeneratedMSBuildEditorConfig.editorconfig
/DataFormatter/obj/project.assets.json
/DataFormatter/obj/project.nuget.cache
/Debugger/obj/Debug/net5.0-windows/App.g.i.cs
/Debugger/obj/Debug/net5.0-windows/ConfigWindow.g.i.cs
/Debugger/obj/Debug/net5.0-windows/Debugger.AssemblyInfo.cs
/Debugger/obj/Debug/net5.0-windows/Debugger.AssemblyInfoInputs.cache
/Debugger/obj/Debug/net5.0-windows/Debugger.assets.cache
/Debugger/obj/Debug/net5.0-windows/Debugger.csproj.AssemblyReference.cache
/Debugger/obj/Debug/net5.0-windows/Debugger.GeneratedMSBuildEditorConfig.editorconfig
/Debugger/obj/Debug/net5.0-windows/Debugger_MarkupCompile.i.cache
/Debugger/obj/Debug/net5.0-windows/Trail.g.i.cs
/Debugger/obj/Debugger.csproj.nuget.dgspec.json
/Debugger/obj/Debugger.csproj.nuget.g.props
/Debugger/obj/Debugger.csproj.nuget.g.targets
/Debugger/obj/project.assets.json
/Debugger/obj/project.nuget.cache
/ExtendedSystemObjects/obj/Debug/net5.0/ExtendedSystemObjects.AssemblyInfo.cs
/ExtendedSystemObjects/obj/Debug/net5.0/ExtendedSystemObjects.AssemblyInfoInputs.cache
/ExtendedSystemObjects/obj/Debug/net5.0/ExtendedSystemObjects.assets.cache
/ExtendedSystemObjects/obj/Debug/net5.0/ExtendedSystemObjects.GeneratedMSBuildEditorConfig.editorconfig
/ExtendedSystemObjects/obj/ExtendedSystemObjects.csproj.nuget.dgspec.json
/ExtendedSystemObjects/obj/ExtendedSystemObjects.csproj.nuget.g.props
/ExtendedSystemObjects/obj/ExtendedSystemObjects.csproj.nuget.g.targets
/ExtendedSystemObjects/obj/project.assets.json
/ExtendedSystemObjects/obj/project.nuget.cache
/FileHandler/obj/Debug/net5.0/FileHandler.AssemblyInfo.cs
/FileHandler/obj/Debug/net5.0/FileHandler.AssemblyInfoInputs.cache
/FileHandler/obj/Debug/net5.0/FileHandler.assets.cache
/FileHandler/obj/Debug/net5.0/FileHandler.GeneratedMSBuildEditorConfig.editorconfig
/FileHandler/obj/FileHandler.csproj.nuget.dgspec.json
/FileHandler/obj/FileHandler.csproj.nuget.g.props
/FileHandler/obj/FileHandler.csproj.nuget.g.targets
/FileHandler/obj/project.assets.json
/FileHandler/obj/project.nuget.cache
/ImageCompare/obj/Debug/net5.0-windows/ImageCompare.AssemblyInfo.cs
/ImageCompare/obj/Debug/net5.0-windows/ImageCompare.AssemblyInfoInputs.cache
/ImageCompare/obj/Debug/net5.0-windows/ImageCompare.assets.cache
/ImageCompare/obj/Debug/net5.0-windows/ImageCompare.csproj.AssemblyReference.cache
/ImageCompare/obj/Debug/net5.0-windows/ImageCompare.GeneratedMSBuildEditorConfig.editorconfig
/ImageCompare/obj/ImageCompare.csproj.nuget.dgspec.json
/ImageCompare/obj/ImageCompare.csproj.nuget.g.props
/ImageCompare/obj/ImageCompare.csproj.nuget.g.targets
/ImageCompare/obj/project.assets.json
/ImageCompare/obj/project.nuget.cache
/Imaging/obj/Debug/net5.0-windows/Imaging.AssemblyInfo.cs
/Imaging/obj/Debug/net5.0-windows/Imaging.AssemblyInfoInputs.cache
/Imaging/obj/Debug/net5.0-windows/Imaging.assets.cache
/Imaging/obj/Debug/net5.0-windows/Imaging.csproj.AssemblyReference.cache
/Imaging/obj/Debug/net5.0-windows/Imaging.GeneratedMSBuildEditorConfig.editorconfig
/Imaging/obj/Imaging.csproj.nuget.dgspec.json
/Imaging/obj/Imaging.csproj.nuget.g.props
/Imaging/obj/Imaging.csproj.nuget.g.targets
/Imaging/obj/project.assets.json
/Imaging/obj/project.nuget.cache
/InterOp/obj/Debug/net5.0-windows/InterOp.AssemblyInfo.cs
/InterOp/obj/Debug/net5.0-windows/InterOp.AssemblyInfoInputs.cache
/InterOp/obj/Debug/net5.0-windows/InterOp.assets.cache
/InterOp/obj/Debug/net5.0-windows/InterOp.GeneratedMSBuildEditorConfig.editorconfig
/InterOp/obj/InterOp.csproj.nuget.dgspec.json
/InterOp/obj/InterOp.csproj.nuget.g.props
/InterOp/obj/InterOp.csproj.nuget.g.targets
/InterOp/obj/project.assets.json
/InterOp/obj/project.nuget.cache
/Interpreter/obj/Debug/net5.0-windows/Interpreter.AssemblyInfo.cs
/Interpreter/obj/Debug/net5.0-windows/Interpreter.AssemblyInfoInputs.cache
/Interpreter/obj/Debug/net5.0-windows/Interpreter.assets.cache
/Interpreter/obj/Debug/net5.0-windows/Interpreter.csproj.AssemblyReference.cache
/Interpreter/obj/Debug/net5.0-windows/Interpreter.GeneratedMSBuildEditorConfig.editorconfig
/Interpreter/obj/Debug/net5.0-windows/Interpreter_MarkupCompile.i.cache
/Interpreter/obj/Debug/net5.0-windows/WindowPrompt.g.i.cs
/Interpreter/obj/Interpreter.csproj.nuget.dgspec.json
/Interpreter/obj/Interpreter.csproj.nuget.g.props
/Interpreter/obj/Interpreter.csproj.nuget.g.targets
/Interpreter/obj/project.assets.json
/Interpreter/obj/project.nuget.cache
/LightVector/obj/Debug/net5.0-windows/LightVector.AssemblyInfo.cs
/LightVector/obj/Debug/net5.0-windows/LightVector.AssemblyInfoInputs.cache
/LightVector/obj/Debug/net5.0-windows/LightVector.assets.cache
/LightVector/obj/Debug/net5.0-windows/LightVector.csproj.AssemblyReference.cache
/LightVector/obj/Debug/net5.0-windows/LightVector.GeneratedMSBuildEditorConfig.editorconfig
/LightVector/obj/LightVector.csproj.nuget.dgspec.json
/LightVector/obj/LightVector.csproj.nuget.g.props
/LightVector/obj/LightVector.csproj.nuget.g.targets
/LightVector/obj/project.assets.json
/LightVector/obj/project.nuget.cache
/Mathematics/obj/Debug/net5.0/Mathematics.AssemblyInfo.cs
/Mathematics/obj/Debug/net5.0/Mathematics.AssemblyInfoInputs.cache
/Mathematics/obj/Debug/net5.0/Mathematics.assets.cache
/Mathematics/obj/Debug/net5.0/Mathematics.csproj.AssemblyReference.cache
/Mathematics/obj/Debug/net5.0/Mathematics.GeneratedMSBuildEditorConfig.editorconfig
/Mathematics/obj/Mathematics.csproj.nuget.dgspec.json
/Mathematics/obj/Mathematics.csproj.nuget.g.props
/Mathematics/obj/Mathematics.csproj.nuget.g.targets
/Mathematics/obj/project.assets.json
/Mathematics/obj/project.nuget.cache
/PathFinding/obj/Debug/net5.0-windows/PathFinding.AssemblyInfo.cs
/PathFinding/obj/Debug/net5.0-windows/PathFinding.AssemblyInfoInputs.cache
/PathFinding/obj/Debug/net5.0-windows/PathFinding.assets.cache
/PathFinding/obj/Debug/net5.0-windows/PathFinding.GeneratedMSBuildEditorConfig.editorconfig
/PathFinding/obj/PathFinding.csproj.nuget.dgspec.json
/PathFinding/obj/PathFinding.csproj.nuget.g.props
/PathFinding/obj/PathFinding.csproj.nuget.g.targets
/PathFinding/obj/project.assets.json
/PathFinding/obj/project.nuget.cache
/PluginLoader/obj/Debug/net5.0/PluginLoader.AssemblyInfo.cs
/PluginLoader/obj/Debug/net5.0/PluginLoader.AssemblyInfoInputs.cache
/PluginLoader/obj/Debug/net5.0/PluginLoader.assets.cache
/PluginLoader/obj/Debug/net5.0/PluginLoader.csproj.AssemblyReference.cache
/PluginLoader/obj/Debug/net5.0/PluginLoader.GeneratedMSBuildEditorConfig.editorconfig
/PluginLoader/obj/PluginLoader.csproj.nuget.dgspec.json
/PluginLoader/obj/PluginLoader.csproj.nuget.g.props
/PluginLoader/obj/PluginLoader.csproj.nuget.g.targets
/PluginLoader/obj/project.assets.json
/PluginLoader/obj/project.nuget.cache
/Plugin/obj/Debug/net5.0/Plugin.AssemblyInfo.cs
/Plugin/obj/Debug/net5.0/Plugin.AssemblyInfoInputs.cache
/Plugin/obj/Debug/net5.0/Plugin.assets.cache
/Plugin/obj/Debug/net5.0/Plugin.GeneratedMSBuildEditorConfig.editorconfig
/Plugin/obj/Plugin.csproj.nuget.dgspec.json
/Plugin/obj/Plugin.csproj.nuget.g.props
/Plugin/obj/Plugin.csproj.nuget.g.targets
/Plugin/obj/project.assets.json
/Plugin/obj/project.nuget.cache
/RenderEngine/obj/Debug/net5.0-windows/RenderEngine.AssemblyInfo.cs
/RenderEngine/obj/Debug/net5.0-windows/RenderEngine.AssemblyInfoInputs.cache
/RenderEngine/obj/Debug/net5.0-windows/RenderEngine.assets.cache
/RenderEngine/obj/Debug/net5.0-windows/RenderEngine.csproj.AssemblyReference.cache
/RenderEngine/obj/Debug/net5.0-windows/RenderEngine.GeneratedMSBuildEditorConfig.editorconfig
/RenderEngine/obj/Debug/net5.0-windows/RenderEngine_MarkupCompile.i.cache
/RenderEngine/obj/Debug/net5.0-windows/RenderView.g.i.cs
/RenderEngine/obj/project.assets.json
/RenderEngine/obj/project.nuget.cache
/RenderEngine/obj/RenderEngine.csproj.nuget.dgspec.json
/RenderEngine/obj/RenderEngine.csproj.nuget.g.props
/RenderEngine/obj/RenderEngine.csproj.nuget.g.targets
/Serializer/obj/Debug/net5.0-windows/Serializer.AssemblyInfo.cs
/Serializer/obj/Debug/net5.0-windows/Serializer.AssemblyInfoInputs.cache
/Serializer/obj/Debug/net5.0-windows/Serializer.assets.cache
/Serializer/obj/Debug/net5.0-windows/Serializer.csproj.AssemblyReference.cache
/Serializer/obj/Debug/net5.0-windows/Serializer.GeneratedMSBuildEditorConfig.editorconfig
/Serializer/obj/project.assets.json
/Serializer/obj/project.nuget.cache
/Serializer/obj/Serializer.csproj.nuget.dgspec.json
/Serializer/obj/Serializer.csproj.nuget.g.props
/Serializer/obj/Serializer.csproj.nuget.g.targets
/Solaris/obj/Debug/net5.0-windows/Aurora.g.i.cs
/Solaris/obj/Debug/net5.0-windows/Polaris.g.i.cs
/Solaris/obj/Debug/net5.0-windows/Solaris.AssemblyInfo.cs
/Solaris/obj/Debug/net5.0-windows/Solaris.AssemblyInfoInputs.cache
/Solaris/obj/Debug/net5.0-windows/Solaris.assets.cache
/Solaris/obj/Debug/net5.0-windows/Solaris.csproj.AssemblyReference.cache
/Solaris/obj/Debug/net5.0-windows/Solaris.GeneratedMSBuildEditorConfig.editorconfig
/Solaris/obj/Debug/net5.0-windows/Solaris_MarkupCompile.i.cache
/Solaris/obj/project.assets.json
/Solaris/obj/project.nuget.cache
/Solaris/obj/Solaris.csproj.nuget.dgspec.json
/Solaris/obj/Solaris.csproj.nuget.g.props
/Solaris/obj/Solaris.csproj.nuget.g.targets
/SQLiteHelper/obj/Debug/net5.0/SQLiteHelper.AssemblyInfo.cs
/SQLiteHelper/obj/Debug/net5.0/SQLiteHelper.AssemblyInfoInputs.cache
/SQLiteHelper/obj/Debug/net5.0/SQLiteHelper.assets.cache
/SQLiteHelper/obj/Debug/net5.0/SQLiteHelper.csproj.AssemblyReference.cache
/SQLiteHelper/obj/Debug/net5.0/SQLiteHelper.GeneratedMSBuildEditorConfig.editorconfig
/SQLiteHelper/obj/project.assets.json
/SQLiteHelper/obj/project.nuget.cache
/SQLiteHelper/obj/SQLiteHelper.csproj.nuget.dgspec.json
/SQLiteHelper/obj/SQLiteHelper.csproj.nuget.g.props
/SQLiteHelper/obj/SQLiteHelper.csproj.nuget.g.targets
/ViewModel/obj/Debug/net5.0-windows/ViewModel.AssemblyInfo.cs
/ViewModel/obj/Debug/net5.0-windows/ViewModel.AssemblyInfoInputs.cache
/ViewModel/obj/Debug/net5.0-windows/ViewModel.assets.cache
/ViewModel/obj/Debug/net5.0-windows/ViewModel.GeneratedMSBuildEditorConfig.editorconfig
/ViewModel/obj/project.assets.json
/ViewModel/obj/project.nuget.cache
/ViewModel/obj/ViewModel.csproj.nuget.dgspec.json
/ViewModel/obj/ViewModel.csproj.nuget.g.props
/ViewModel/obj/ViewModel.csproj.nuget.g.targets
/SqlLiteGui/obj/Debug/net5.0-windows/AddTableWindow.g.i.cs
/SqlLiteGui/obj/Debug/net5.0-windows/DataOverview.g.i.cs
/SqlLiteGui/obj/Debug/net5.0-windows/DbInfo.g.i.cs
/SqlLiteGui/obj/Debug/net5.0-windows/GeneratedInternalTypeHelper.g.i.cs
/SqlLiteGui/obj/Debug/net5.0-windows/InputBinaryWindow.g.i.cs
/SqlLiteGui/obj/Debug/net5.0-windows/InputUpdateWindow.g.i.cs
/SqlLiteGui/obj/Debug/net5.0-windows/LogsWindow.g.i.cs
/SqlLiteGui/obj/Debug/net5.0-windows/SQLiteGui.AssemblyInfo.cs
/SqlLiteGui/obj/Debug/net5.0-windows/SQLiteGui.AssemblyInfoInputs.cache
/SqlLiteGui/obj/Debug/net5.0-windows/SQLiteGui.assets.cache
/SqlLiteGui/obj/Debug/net5.0-windows/SQLiteGui.csproj.AssemblyReference.cache
/SqlLiteGui/obj/Debug/net5.0-windows/SQLiteGui.GeneratedMSBuildEditorConfig.editorconfig
/SqlLiteGui/obj/Debug/net5.0-windows/SQLiteGui_MarkupCompile.i.cache
/SqlLiteGui/obj/Debug/net5.0-windows/SQLiteGui_MarkupCompile.i.lref
/SqlLiteGui/obj/Debug/net5.0-windows/SqlLiteGuiWindow.g.i.cs
/SqlLiteGui/obj/Debug/net5.0-windows/TableOverview.g.i.cs
/SqlLiteGui/obj/project.assets.json
/SqlLiteGui/obj/project.nuget.cache
/SqlLiteGui/obj/SQLiteGui.csproj.nuget.dgspec.json
/SqlLiteGui/obj/SQLiteGui.csproj.nuget.g.props
/SqlLiteGui/obj/SQLiteGui.csproj.nuget.g.targets
/.vs/CoreLibrary/v17/TestStore/0/001.testlog
/.vs/CoreLibrary/v17/TestStore/0/testlog.manifest
/.vs/CoreLibrary/v17/.futdcache.v2
/.vs/CoreLibrary/v17/.suo
/.vs/CoreLibrary/v17/TestStore/OutputMessages/52162f12-9523-9a9a-7e06-a71aa3eb1afd/StandardOutput.txt
/.vs/CoreLibrary/v17/TestStore/OutputMessages/54573c45-22e8-70b0-e7b5-8c37507a648f/StandardOutput.txt
/.vs/CoreLibrary/v17/TestStore/OutputMessages/5aedd68a-1179-09c9-edbf-e9e0f15e0e51/StandardOutput.txt
/.vs/CoreLibrary/v17/TestStore/OutputMessages/75aa3bae-c432-0de6-eb20-8dc94409bc66/StandardOutput.txt
/.vs/CoreLibrary/v17/TestStore/OutputMessages/7eaeef27-6e99-1144-2747-cd60675c62f9/StandardOutput.txt
/.vs/CoreLibrary/v17/TestStore/OutputMessages/b64c0cf7-bba7-da7b-21de-3eaf9d686f78/StandardOutput.txt
/.vs/CoreLibrary/v17/TestStore/OutputMessages/b7c404ba-2728-1f05-d8e7-43e5ebc65e95/StandardOutput.txt
/.vs/CoreLibrary/v17/TestStore/OutputMessages/ef1cc1b1-dfa4-ed67-92a0-bc30e0d4176c
/.vs/ProjectEvaluation/corelibrary.metadata.v7.bin
/.vs/ProjectEvaluation/corelibrary.projects.v7.bin
/CommonControls/bin/Debug/net5.0-windows/CommonControls.dll
/CommonControls/bin/Debug/net5.0-windows/CommonControls.pdb
/CommonControls/bin/Debug/net5.0-windows/DataFormatter.dll
/CommonControls/bin/Debug/net5.0-windows/DataFormatter.pdb
/CommonControls/bin/Debug/net5.0-windows/ExtendedSystemObjects.dll
/CommonControls/bin/Debug/net5.0-windows/ExtendedSystemObjects.pdb
/CommonControls/bin/Debug/net5.0-windows/FileHandler.dll
/CommonControls/bin/Debug/net5.0-windows/FileHandler.pdb
/CommonControls/bin/Debug/net5.0-windows/Imaging.dll
/CommonControls/bin/Debug/net5.0-windows/Imaging.pdb
/CommonControls/bin/Debug/net5.0-windows/Mathematics.dll
/CommonControls/bin/Debug/net5.0-windows/Mathematics.pdb
/CommonControls/bin/Debug/net5.0-windows/Plugin.dll
/CommonControls/bin/Debug/net5.0-windows/Plugin.pdb
/CommonControls/bin/Debug/net5.0-windows/PluginLoader.dll
/CommonControls/bin/Debug/net5.0-windows/PluginLoader.pdb
/CommonControls/bin/Debug/net5.0-windows/ViewModel.dll
/CommonControls/bin/Debug/net5.0-windows/ViewModel.pdb
